<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />

	<title>{{ page.title }}</title>
	
	<style type="text/css" media="all">
		@import "/static/css/style.css";
		@import "/static/css/syntax.css";
	</style>

	<script type="text/javascript">
	    // var disqus_developer = true; 
	</script>
	
</head>

<body id="main">

	<div id="content">
		<div id="header" align="center">
			<h1><a href="/" title="niraj.com">{{ site.title }}</a></h1>
		</div>
		
		<div id="content_body">
			{{ content }}
		</div>
		
		<div id="footer">
			<div id="navigation">
				<span class="navitem"><a href="http://welcometonewnepal.com" title="Projects">Welcome to new Nepal</a></span> |
				<span class="navitem">
					<a href="http://feeds.feedburner.com/Niraj" rel="alternate" type="application/rss+xml">RSS Feed
					</a>
				</span>
			</div>
		</div>
	</div>
	
</body>
</html>
